@using WebApp.ViewModels
@{
    ViewBag.Title = "Index";
}

<h2>Persons list</h2>

@Html.Action("GetPersons", "Persons", new { })

<div class="row">
    <a ref="#" class="btn btn-default right" data-toggle="modal" data-target="#addPersonModal">Add</a>
</div>

<!-- Modals -->
<div class="modal fade" id="addPersonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @Html.Partial("_AddPersonView", new PersonViewModel())
</div>

<div id="updateUserModal"></div>

